.app.dark {
    --bg-color: #0b0b81;
    --inverted-bg-color: #e8eaec;
    --primary-color: #238308;
    --secondary-color: #09d739;
    --inverted-primary-color: #0b0b81;
    --inverted-secondary-color: #4b4bf5;
}
